<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    <!-- ファビコン -->
    <link rel="icon" href="/assets/images/icons/favicon.ico">
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/blog.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
    {% include common/gtm-head.html %}
    {% endif %}
    <meta name="google-site-verification" content="3929kLYek90sHmpMAvNwMsH7HAxj1YOxxcqkH1nKu7Q" />
    <!--/* pwa */-->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#efd1ef">
    <script data-ad-client="ca-pub-8845588899850470" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142126563-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-142126563-1');

// This is the "Offline page" service worker

// Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

// Check compatibility for the browser we're running this in
if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("[PWA Builder] active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register("pwabuilder-sw.js", {
        scope: "./"
      })
      .then(function (reg) {
        console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
      });
  }
}

    </script>

</head>

<body>
    {% if site.google_tag_manager %}
    {% include common/gtm-body.html %}
    {% endif %}

    {% include common/notices.html %}
    {% include blog/overlay.html %}

    <div id="page" class="hentry">
        {% include blog/header.html %}

        <div class="body animated fadeInDown" role="main">
            <div class="unit-body">
                <div class="unit-inner unit-body-inner">
                    <div class="entry-content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        {% include blog/footer.html %}
    </div>

    {% include blog/scripts.html %}
</body>

</html>